.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 680px;
  margin: auto;
  padding: 1rem;
  background: #eaeaea;
  overflow: hidden;

  .main {
    padding: 1rem;
    border-radius: 10px;
    background: #ddd;
  }
}
